.Form {
  max-width: 600px;
  margin: auto;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding-bottom: 16px;
  & * {
    box-sizing: border-box;
  }
  button {
    display: block;
    margin: auto;
  }
}

.ButtonWrap {
  margin: auto;
  text-align: center;
  button {
    display: inline-block;
    margin: auto 16px 16px;
  }
}