@import '../../../variable';

.Input {
  width: 100%;
  margin-bottom: 32px;
  box-sizing: border-box;
  max-width: 600px;
  div {
    display: block;
  }

  input {
    box-sizing: border-box;
    height: auto;
    color: $textDark;
    &:disabled {
      color: $textDark;
      opacity: 0.8;
    }
  }

}
