@import "../../variable";

$drawerWidth: 240px;

.MenuList {
  padding: 0 !important;
  a {
    text-decoration: none;
    color: $textDark;
    display: block;
  }
  .activeLink {
    background: linear-gradient(to right, #FFFFFF, #FFFFFF 70%);
    color: #fff;
    span {
      font-weight: bold;
      background: linear-gradient(to right, $main 0%, #2fb7d0 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    svg {
      color: $main;
    }
  }
}


.Root {
  display: flex;
}

.Drawer {
  @media (min-width: 600px) {
    width: $drawerWidth;
    flex-shrink: 0;
  }
}

.DrawerContent {
  flex-grow: 1;
  padding: 30px;
}

.AppBar {
  @media (min-width: 600px) {
    width: calc(100% - #{$drawerWidth}) !important;
    margin-left: $drawerWidth !important;
  }
}

.DrawerPaper {
  width: $drawerWidth;
}

.MenuButton {
  margin-right: 20px;
  @media (min-width: 600px) {
    display: none !important;
  }
}
