@import "../../variable";

.Create {
  h1 {
    text-align: center;
    color: $textDark;
    margin-bottom: 40px;
  }
}

.FormWrap {
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
  padding: 40px 24px 24px;
  max-width: 600px;
  margin: auto;
  width: 100%;
  background: #fff;
}

